<div class="wrapper">
  <div class="actions shadow p-2">
    @for (dimension of dimensions; track $index) {
      <div class="dimension">
        
        <span>{{dimension.nameView}}</span>
  
        <div class="items">
          @for (item of dimension.items; track $index) {
          <div class="item">
            <input [id]="'item'+item.id" type="checkbox" [(ngModel)]="item.selected" (change)="filter()">
            <label [for]="'item'+item.id">{{item.name}}</label>
          </div>
          }
        </div>
      </div>
      }
  </div>
  <div class="dashboard">
    <div class="element one">
      
      <libChart [dataset]="datasetOne" [chartOptions]="chartOptionsOne"></libChart>
    </div>
    <div class="element two">
      
      <libChart [dataset]="datasetTwo" [chartOptions]="chartOptionsTwo"></libChart>
    </div>
    <div class="element three">
      
      <libChart [dataset]="datasetThree" [chartOptions]="chartOptionsThree"></libChart>
    </div>
    <div class="element four">
      <libChart [dataset]="datasetFour" [chartOptions]="chartOptionsFour"></libChart>
    </div>
    <div class="element five">
      <libTable [dataset]="datasetFour" [tableOptions]="tableOptions"></libTable>
    </div>
  </div>
</div>

