<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="display-5 fw-bold text-body-emphasis">NGX-DATA-VISUALIZER</h1>  
    <p class="col-lg-8 mx-auto fs-5 text-muted">
      ngx-data-visualizer es un juego de directivas para Angular (ver >= 17) que facilitan la visualización de datos.
    </p>
    <div class="d-inline-flex gap-2 my-5">
      <a [routerLink]="'full-example'" class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="button">
        Ejemplo de Indicador
      </a>
      <a [routerLink]="'dashboard'" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Ejemplo de Dashboard
      </a>
      <a [routerLink]="'table-demo'" class="btn btn-outline-secondary btn-lg px-4 rounded-pill" type="button">
        Ejemplo de Tabla
      </a>
    </div>
    <img class="d-block mx-auto my-4" src="assets/logo-app.svg" alt="" height="57">
  </div>
</div>
